# Базы данных
*.db
#*.sqlite3
#*.sqlite

# Виртуальное окружение
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.env.local

# Загруженные файлы (аватары)
media/

# IDE
.idea/
# .vscode/
DOKUMENTACJA.md
