# Базы данных
*.db
*.sqlite3
*.sqlite

# Виртуальное окружение
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.env.local

# IDE (опционально — раскомментируйте, если не хотите коммитить настройки)
# .vscode/
